
section.hero-space {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92vh;
    
    margin-top: 0vh;
    margin-bottom: 13vh;

    div.hero-slider{
        width: 100%;
        height: 92vh;
      }
  }