.mySwiper-testimonials {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  

  display: grid;
  place-items: center;

  .swiper-slide-active {
    opacity: 1;

    .card {
      background: #fff;
      box-shadow: 0 0.5vw 1.875vw -0.5vw #c9dff0;
      margin: 0vh 1.25vw;
      padding: 0 0.8vw;
      border-radius: 1.25vw;
      border: 0;
      opacity: 1;

      display: grid;
      place-items: center;

      .card-img-top {
        /* max-width: 6.25vw; */
        border-radius: 50%;
        margin: 1vw auto 0;
        box-shadow: 0 0.5vw 1.25vw -0.25vw #95abbb;
        width: 16vh;
        height: 16vh;
      }

      h5 {
        color: #01b0f8;
        font-size: 1.5vw;
        line-height: 1.3;
        text-align: center;

        span {
          font-size: 1.25vw;
          color: #666666;
        }
      }

      p {
        font-size: 1.25vw;
        color: #555;
        padding-bottom: 1vh;
        text-align: center;
      }
    }
  }


  .card {
    background: #fff;
    box-shadow: 0 0.5vw 1.875vw -0.5vw #c9dff0;
    margin: 10vh 1.25vw 0 1.25vw;
    padding: 0 0.625vw;
    border-radius: 1.25vw;
    border: 0;
    opacity: 0.5;
  
    display: grid;
    place-items: center;
  
    .card-img-top {
      /* max-width: 6.25vw; */
      border-radius: 50%;
      margin: 1vw auto 0;
      box-shadow: 0 0.5vw 1.25vw -0.25vw #95abbb;
      width: 15vh;
      height: 15vh;
    }
  
    h5 {
      color: #01b0f8;
      font-size: 1.3125vw;
      line-height: 1.3;
      text-align: center;
  
      span {
        font-size: 1.125vw;
        color: #666666;
      }
    }
  
    p {
      font-size: 1.125vw;
      color: #555;
      padding-bottom: 1vh;
      text-align: center;
    }
  }
  
    
  

  .swiper-pagination {
    text-align: center;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: inline-block;
      background: #fff;
      border: 2px solid #01b0f8;
      margin: 0 5px;

      &-active {
        background: #01b0f8;
        box-shadow: none;
        width: 12px;
        height: 12px;
        margin-bottom: -1px;
      }
    }
  }
}

/*************** Pantallas tablet (768px) y tablet L (1024px) con orientacion vertical  *******************/
@media (min-width: 750px) and (max-width: 1025px) and (orientation: portrait) {
  .mySwiper-testimonials {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    
  
    display: grid;
    place-items: center;
  
    .swiper-slide-active {
      opacity: 1;
  
      .card {
        background: #fff;
        box-shadow: 0 0.5vw 1.875vw -0.5vw #c9dff0;
        margin: 0vh 1.25vw;
        padding: 0 0.8vw;
        border-radius: 1.25vw;
        border: 0;
        opacity: 1;
  
        display: grid;
        place-items: center;
  
        .card-img-top {
          /* max-width: 6.25vw; */
          border-radius: 50%;
          margin: 1vw auto 0;
          box-shadow: 0 0.5vw 1.25vw -0.25vw #95abbb;
          width: 12vh;
          height: 12vh;
        }
  
        h5 {
          color: #01b0f8;
          font-size: 1.5vw;
          line-height: 1.3;
          text-align: center;
  
          span {
            font-size: 1.25vw;
            color: #666666;
          }
        }
  
        p {
          font-size: 1.25vw;
          color: #555;
          padding-bottom: 1vh;
          text-align: center;
        }
      }
    }
  
  
    .card {
      background: #fff;
      box-shadow: 0 0.5vw 1.875vw -0.5vw #c9dff0;
      margin: 10vh 1.25vw 0 1.25vw;
      padding: 0 0.625vw;
      border-radius: 1.25vw;
      border: 0;
      opacity: 0.5;
    
      display: grid;
      place-items: center;
    
      .card-img-top {
        /* max-width: 6.25vw; */
        border-radius: 50%;
        margin: 1vw auto 0;
        box-shadow: 0 0.5vw 1.25vw -0.25vw #95abbb;
        width: 11vh;
          height: 11vh;
      }
    
      h5 {
        color: #01b0f8;
        font-size: 1.3125vw;
        line-height: 1.3;
        text-align: center;
    
        span {
          font-size: 1.125vw;
          color: #666666;
        }
      }
    
      p {
        font-size: 1.125vw;
        color: #555;
        padding-bottom: 1vh;
        text-align: center;
      }
    }
    
      
    
  
    .swiper-pagination {
      text-align: center;
  
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        background: #fff;
        border: 2px solid #01b0f8;
        margin: 0 5px;
  
        &-active {
          background: #01b0f8;
          box-shadow: none;
          width: 12px;
          height: 12px;
          margin-bottom: -1px;
        }
      }
    }
  }
}


/*************** Pantallas Movil con orientacion vertical  *******************/
@media (max-width: 749px) and (orientation: portrait) {
  .mySwiper-testimonials {
    /* background-color: red; */
    width: 100%;
    height: 100%;
    
  
    display: grid;
    place-items: center;
  
    .swiper-slide-active {
      opacity: 1;
  
      .card {
        background: #fff;
        box-shadow: 0 0.5vw 1.875vw -0.5vw #c9dff0;
        margin: 0vh 10vw;
        padding: 0vh 10vw;
        border-radius: 1.25vw;
        border: 0;
        opacity: 1;
  
        display: grid;
        place-items: center;
  
        .card-img-top {
          /* max-width: 6.25vw; */
          border-radius: 50%;
          margin: 5vw auto 0;
          box-shadow: 0 0.5vw 1.25vw -0.25vw #95abbb;
          width: 12vh !important;
          height: 12vh !important;
        }
  
        h5 {
          color: #01b0f8;
          font-size: 5vw;
          line-height: 1.3;
          text-align: center;
  
          span {
            font-size: 2.75vw;
            color: #666666;
          }
        }
  
        p {
          font-size: 2.25vw;
          color: #555;
          padding-bottom: 1vh;
          text-align: center;
        }
      }
    }
  
  
    .card {
      background: #fff;
      box-shadow: 0 0.5vw 1.875vw -0.5vw #c9dff0;
      margin: 0vh 6vw 0 6vw;
/*       margin: 10vh 10vw 0 10vw; */
      padding: 0 0.625vw;
      border-radius: 1.25vw;
      border: 0;
      opacity: 0.5;
    
      display: grid;
      place-items: center;
    
      .card-img-top {
        /* max-width: 6.25vw; */
        border-radius: 50%;
        margin: 1vw auto 0;
        box-shadow: 0 0.5vw 1.25vw -0.25vw #95abbb;
        width: 4vh !important;
        height: 4vh !important;
      } 
    
      h5 {
        margin: 1vh auto 0.5vh auto;
        color: #01b0f8;
        font-size: 1.3125vw;
        line-height: 1.3;
        text-align: center;
    
        span {
          margin: 0.5vh 0;
          font-size: 1.125vw;
          color: #666666;
        }
      }
    
      p {
        margin: 1vh 0;
        font-size: 1.125vw;
        color: #555;
        padding-bottom: 1vh;
        text-align: center;
      }
    }
    
      
    
  
    .swiper-pagination {
      text-align: center;
  
      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: inline-block;
        background: #fff;
        border: 2px solid #01b0f8;
        margin: 0 5px;
  
        &-active {
          background: #01b0f8;
          box-shadow: none;
          width: 12px;
          height: 12px;
          margin-bottom: -1px;
        }
      }
    }
  }
}