aside.textDecoration-space {
    /* background-color: green; */
    width: 3vw;
    height: 35vh;

    position: fixed;
    bottom: 10vh;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: start;

    z-index: 500;

    div.line-decoration { 
        background-color: #DA291C;
        width: 1vw;
        height: 35vh;
    }

    div.text-decoration { 
        background-color: #101820;
        width: 2vw;
        height: 35vh;

        display: flex;
        align-items: start;
        justify-content: center;
        

        h6 {
            width: 100%;
            transform: rotate(90deg); 
            text-transform: uppercase;
            color: #FFF;
            font-size: 1vw;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            /* transform-origin: center center; */
            white-space: nowrap;
            
            position: relative;
            bottom: 0vh;
        }
    }
}


.social-media { 
    /* background-color: blue; */
    width: 5vw;
    height: 5vw;
    position: fixed;
    bottom: 10vh;
    right: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 500;
    
    .circle-icon {
        background-color: #DA291C;
        width: 5vw;
        height: 5vw;
        border-radius: 0.5vw 0 0 0.5vw;


        display: flex;
        align-items: center;
        justify-content: center;
    
        img {
            width: 3vw;
            height: 3vw;
        }
    }
      
      
    .bubbleChat {
      position: absolute;
      bottom: 15%;
      right: 100%;  
      width: 15vw;
      height: 5vw;
      /* border: 1px solid red; */
      display: flex;
        
      .squareBubble {
        background-color: #fff;
        width: 15vw;
        height: 5vw;
        border: 0.1vb solid #000;
        border-radius: 0.5vw;
        line-height: 1px;
        text-align: left;
  
        h4 {
          margin-left: 0.75vw;
          font-size: 1.2vw;
        }
          
        p {
          margin-left: 0.75vw;
          font-size: 1vw;
        }
      }
          
      .trianguleBubble {
      
      position: relative;
      top: 55%;
      width: 0;
      height: 0;
      border-top: 0.625vw solid transparent; /* Lado izquierdo transparente */
      border-bottom: 0.625vw solid transparent; /* Lado derecho transparente */
      border-left: 1.25vw solid #000; /* Lado inferior sólido (el color define el color del triángulo) */
      }  
    }   
  }