// Define la animación slideIn desde la derecha
@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}



header.navbar-space {
    width: 100%;
    height: 7.5vh;
    background-color: #DC3028;

    border-bottom: 1px solid #000;

    nav.navbar-desktop { 
        /* background-color: green; */
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        aside.navlogo-space { 
            width: 12.5vw;
            height: 100%;

            display: grid;
            place-items: center;

            a { 
                width: 100%;
                height: 100%;

                display: grid;
                place-items: center;

                img { 
                    width: 10vw;
                    height: auto;
                }
            }
        }

        aside.navlinks-space { 
            background-color: #fff;
            width: 75vw;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            div.navLinks{ 
                width: 65vw;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: start;

                gap: 1.5vw;

                a { 
                    text-decoration: none;
                    color: #000;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    &:first-child { 
                        margin-left: 3vw;
                    }

                    &:hover { 
                        text-decoration: underline;
                        text-decoration-color: #DC3028;
                        text-decoration-thickness: 2px;
                        text-decoration-line: underline;
                        text-underline-offset: 8px;
                        transition: text-decoration-color 0.3s ease; 
                    }

                    &.active { 
                        text-decoration: underline;
                        text-decoration-color: #DC3028;
                        text-decoration-thickness: 2px;
                        text-decoration-line: underline;
                        text-underline-offset: 8px;
                        color: #DC3028;
                        background-clip: text; 
                        /* background: rgba(0, 0, 0, 1) !important; */
                        padding: 0px 4px; 
                        
                        transition: color 0.3s ease, background-color 0.3s ease, text-decoration-color 0.3s ease;
                    }
                }

                
            }

            div.navSupport{
                width: 15vh; /* vh para formar el equivalente a en ancho de la altura que es 7.5vh*/
                height: 100%;

                /* border-left: 1px solid #000; */

                display: flex;
                align-items: center;
                justify-content: center;

                a {
                    width: 50%;
                    height: 100%;

                    display: grid;
                    place-items: center;
                    
                    &:last-child {
                        background-color: #980700;
                    }

                    img { 
                        width: 5vh;
                    }
                }            
            }
        }

        aside.navservices-space {
            width: 12.5vw;
            height: 100%;
            
            display: grid;
            place-items: center;

            a { 
                background-color: #DC3028;
                width: 100%;
                height: 100%;
                text-decoration: none;

                display: flex;
                align-items: center;
                justify-content: center;

                gap: .5vw;

                h3 { 
                    color: #FFF;
                    font-size: 1vw;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 82.523%;

                    span { 
                        font-weight: 700;
                    }
                }

                img {
                    width: auto;
                    height: 3vh;
                }
            }
        }
    }

    nav.navbar-movil { 
        display: none;
    }
}

/*************** Pantallas tablet (768px) y tablet L (1024px) con orientacion vertical  *******************/
@media (min-width: 750px) and (max-width: 1025px) and (orientation: portrait) {
    
    header.navbar-space {
        width: 100%;
        height: 7.5vh;
        background-color: #DC3028;

        border-bottom: 1px solid #000;

        nav.navbar-desktop { 
            /* background-color: green; */
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            aside.navlogo-space { 
                width: 20vw;
                height: 100%;

                display: grid;
                place-items: center;

                a { 
                    width: 100%;
                    height: 100%;

                    display: grid;
                    place-items: center;

                    img { 
                        width: 17vw;
                        height: auto;
                    }
                }
            }

            aside.navlinks-space { 
                background-color: #fff;
                width: 60vw;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: space-between;

                div.navLinks{ 
                    width: 65vw;
                    height: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: start;

                    gap: 3vw;

                    a { 
                        text-decoration: none;
                        color: #000;
                        font-size: 1.5vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        &:first-child { 
                            margin-left: 3vw;
                        }

                        &:hover { 
                            text-decoration: underline;
                            text-decoration-color: #DC3028;
                            text-decoration-thickness: 2px;
                            text-decoration-line: underline;
                            text-underline-offset: 8px;
                            transition: text-decoration-color 0.3s ease; 
                        }

                        &.active { 
                            text-decoration: underline;
                            text-decoration-color: #DC3028;
                            text-decoration-thickness: 2px;
                            text-decoration-line: underline;
                            text-underline-offset: 8px;
                            color: #DC3028;
                            background-clip: text; 
                            /* background: rgba(0, 0, 0, 1) !important; */
                            padding: 0px 4px; 
                            
                            transition: color 0.3s ease, background-color 0.3s ease, text-decoration-color 0.3s ease;
                        }
                    }

                    
                }

                div.navSupport{
                    width: 15vh; /* vh para formar el equivalente a en ancho de la altura que es 7.5vh*/
                    height: 100%;

                    /* border-left: 1px solid #000; */

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        width: 50%;
                        height: 100%;

                        display: grid;
                        place-items: center;
                        
                        &:last-child {
                            background-color: #980700;
                        }

                        img { 
                            width: 4vh;
                        }
                    }            
                }
            }

            aside.navservices-space {
                width: 20vw;
                height: 100%;
                
                display: grid;
                place-items: center;

                a { 
                    background-color: #DC3028;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    gap: .5vw;

                    h3 { 
                        color: #FFF;
                        font-size: 2vw;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 82.523%;

                        span { 
                            font-weight: 700;
                        }
                    }

                    img {
                        width: auto;
                        height: 2vh;
                    }
                }
            }
        }

        nav.navbar-movil { 
            display: none;
        }
    }
}

/*************** Pantallas Movil con orientacion vertical  *******************/
@media (max-width: 749px) and (orientation: portrait) {
    
    header.navbar-space {
        width: 100%;
        height: 7.5vh;
        background-color: #DC3028;

        border-bottom: 1px solid #000;

        nav.navbar-desktop { 
            display: none;
        }

        nav.navbar-movil { 
            width: 100%;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;

            

            aside.navlogo-space { 
                /* background-color: blue; */
                width: 40vw;
                height: 100%;
    
                display: grid;
                place-items: center;
    
                a { 
                    width: 100%;
                    height: 100%;
    
                    display: grid;
                    place-items: center;
    
                    img { 
                        width: 37vw;
                        height: auto;
                    }
                }
            }

            aside.navMenu-space {
                /* background-color: green; */
                width: 15vh;
                height: 100%;
                
                display: flex;
                align-items: center;
                justify-content: center;

                div.global-icon { 
                    width: 50%;
                    height: 100%;

                    display: grid;
                    place-items: center;              
                    background-color: #980700;

                    a {
                        width: 100%;
                        height: 100%;

                        display: grid;
                        place-items: center;

                        img {
                            width: auto;
                            height: 6vh;
                        }
                    }
                }

                div.burger-menu {
                    width: 50%;
                    height: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 1vh;

                    div { 
                        background-color: #fff;
                        width: 8vw;
                        height: 0.75vh;
                    }
                }
            }

            aside.menuMovil-space {
                position: absolute;
                top: 7.5vh;

                background-color: #fff;
                width: 100vw;
                height: 92.5vh;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                transition: transform 0.3s ease-in-out;

                &.disactive { 
                    transition: transform 0.3s ease-in-out;
                    animation: slideInRight 1s ease-in-out reverse;
                    display: none;
                }
                

                &.active { 
                    display: flex;

                    animation: slideInRight 1s ease-in-out;               
                }

                div.navLinks {
                    /* background-color: green; */
                    width: 80vw;
                    min-height: 40vh;

                    position: relative;
                    top: 5vh;
                    left: 2vw;
                    
                    display: grid;

                    a {
                        /* background-color: blue; */
                        border-bottom: 0.5vh solid #000;
                        width: 90%;
                        display: flex;
                        align-items: end;
                        justify-content: start;
                        text-decoration: none;

                        span { 
                            color: #000;
                            font-family: 'Kommon Grotesk', sans-serif;
                            font-size: 8vw;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                        }    
                        
                        &.active { 
                            color: #DC3028;
                            background-clip: text; 
                            border-bottom: 0.5vh solid #DC3028;
                            /* background: rgba(0, 0, 0, 1) !important; */
                            padding: 0px 4px; 
                            
                            transition: color 0.3s ease, border-bottom 0.3s ease;
                            position: relative;

                            span { 
                                color: #DC3028;
                            }

                            &::before { 
                                content: '+';
                                position: absolute;
                                left: -5vw;
                                font-size: 8vw;
                            }
                        }
                    }
                }

                div.navservices-space {
                    width: 80vw;
                    height: 5vh;
                    position: relative;
                    bottom: 13vh;
                    
                    display: grid;
                    place-items: center;
        
                    a { 
                        background-color: #DC3028;
                        width: 100%;
                        height: 100%;
                        text-decoration: none;
        
                        display: flex;
                        align-items: center;
                        justify-content: center;
        
                        gap: 5vw;
        
                        h3 { 
                            color: #FFF;
                            font-size: 8vw;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 82.523%;
        
                            span { 
                                font-weight: 700;
                            }
                        }
        
                        img {
                            width: auto;
                            height: 6vh;
                        }
                    }
                }
            }
        }
    }
}