 
:root {
	margin: 0;
	padding: 0;	
}


html,
body, 
#app {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#app {
	position: relative;
	animation: fadeIn 700ms ease-in-out forwards;
}


section.wrapper {
    position: relative;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	
	transition: background-image 700ms ease-in-out;
	display: flex;
	align-items: end;
	justify-content: end;
	
}

aside.panel-heroHome {
	background-color: transparent;
	width: 50vw;
	height: 25vh;
	
	/* border: 2px solid #FFF; */
	
	transition: background 700ms ease-in-out;

	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;

	position: relative;
	bottom: 3vh;
    right: 3vh;

	
	div.infoHeroHome-content { 
		width: 100%;
		height: 100%;

		display: flex;
        flex-direction: column;
		align-items: center;
		justify-content: center;

		gap: 0vh;

		position: relative;
           
        p { 
            width: 100%;
            margin: 2vh 0;

            color: #fff;
            font-family: "Poppins", sans-serif;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 500;
            line-height: 124%; /* 24.8px */
        }
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

div.overlay-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.33);
	width: 100%;
	height: 100%;
}