@keyframes pop {
    5% { 
        transform: scale(1); 
    }
    10% { 
        transform: scale(1.15); 
    }
    15% { 
        transform: scale(1); 
    }
  }

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    25% { 
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% { 
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

div.Card-section { 
    /* background-color: red; */
    width: 15vw;
    height: 35vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* cursor: pointer; */
    text-decoration: none;

    aside.image-card-space{ 
        background-color: #CDD1D4;
        width: 100%;
        height: 75%;
        border-radius: 30px 30px 0px 0px;
        border: 2px solid #000;
        border-bottom: 0px;
        overflow: hidden;

        img { 
            width: 100%;
            height: 100%;
        }

    }

    article.text-card-space{
        background-color: #fff;
        width: 100%;
        height: 25%;
        border-radius: 0px 0px 30px 30px;
        border: 2px solid #000;

        display: flex;
        align-items: center;
        justify-content: center;

        h1 { 
            width: 80%;
            color: #000;
            font-size: 16px;
            font-style: normal;
            font-weight: 800;
            line-height: 124%; /* 24.8px */
            text-align: center;
        }
    }
}


div.Card-section-forEmpresas { 
    /* background-color: red; */
    width: 20vw;
    height: 35vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* cursor: pointer; */
    text-decoration: none;

    aside.image-card-space{ 
        /* background-color: #CDD1D4; */
        background-color: transparent;
        width: 100%;
        height: 100%;
        overflow: hidden;

        display: grid;
        place-items: center;

        img { 
            width: 15vw;
            height: auto;
        }

    }

    article.text-card-space{
        display: none;
    }
}

div.Card-section-forValores { 
    background-color: #fff;
    border-left: 7px solid #DA291C;
    box-shadow: 5px 0px 9.9px 0px rgba(0, 0, 0, 0.50);
    
    width: 25vw;
    height: 28vh;
    

    display: flex;


    /* cursor: pointer; */
    text-decoration: none;

    article.text-card { 
        /* background-color: blue; */
        width: 16vw;
        height: 28vh;

        h3 { 
            width: 18vw;
            margin: 1.5vh 0 .5vh 1vw;
            color: #000;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 700;
            line-height: 135.3%; /* 24.354px */
            letter-spacing: -1.35px;
        }

        p {
            margin: .5vh 0 .5vh 1vw;
            width: 15vw;
            color: #000;
            font-size: 1rem;
            font-style: normal;
            font-weight: 300;
            line-height: 135.3%; /* 20.295px */
            letter-spacing: -1.125px;
        }
    }

    div.image-card { 
        /* background-color: green; */
        width: 9vw;
        height: 28vh;

        display: grid;
        place-items: center;

        img.icon-valores {
            width: 7vw !important;
            height: auto !important;

            animation: rotate 3s ease infinite;
            animation-delay: 2s;
        }
    }
}